.bt-spinner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #d0edff;
  border-top-color: #007dcc;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}