.post-details-container{
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  .main-content-wrapper{
    .related-post-list{
      margin-top: 20px;
      .section-heading{
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  
}