@import '../../../styles/colors.scss';

.post-list-container{
  .main-content{
    padding-left: 200px;
    .header-wrapper{
      margin: 0px 15px;

      .bill-details{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .filters-wrapper{
        margin: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .filter-option{
          margin-right: 20px;
          width: 200px;
        }
      }
    }
    .button-wrapper{
      display: flex;
      justify-content: center;
      .load-more-button{
        width: 200px;
        padding: 10px 30px;
        color: $contrast-color;
        font-size: 14px;
        text-align: center;
        background-color: #007dcc;
      }
    }
  }
  .bill-list{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .empty-state-wrapper{
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}