.post-wrapper{
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
    .post-thumbnail{
        height: auto;
        width: 100%;
    }
    .title{
        font-size: 20px;
        margin: 10px auto;
        line-height: 28px;
        text-transform: uppercase;
        @media only screen and (min-width: 760px) {
            font-size: 28px;
        }
    }
    .category-list{
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        .category-name{
            font-size: 14px;
            padding: 10px 8px;
            margin: 4px 10px 4px 0px;
            border-left: 6px solid;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .post-meta{
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        .time{
            display: flex;
            align-items: center;
            margin: 0px;
            span{
                color: #767676;
                font-size: 12px;
                margin-left: 5px;
                margin-right: 10px;
                text-transform: uppercase;
            }
        }
        .author{
            display: flex;
            margin-left: 5px;
            align-items: center;
            margin: 0px;
            span{
                color: #767676;
                font-size: 12px;
                margin-left: 5px;
                text-transform: uppercase;
            }
        }
    }
    .post-content{
        font-size: 16px;
        line-height: 1.8;
        color: #2b2b2b;
        margin: 5px 0px;
        @media only screen and (min-width: 760px) {
            font-size: 18px;
        }

        figure, p{
            margin: 0px;
            img, div{
                width: 100%;
                height: auto;

                .instagram-media{
                    width: initial !important;
                    max-width: initial !important;
                    min-width: initial !important;
                }
            }
        }
    }
    .read-more-link{
        text-align: right;
        a{
            text-decoration: none;
            color: #007dcc;
        }
    }
    .tag-list{
        display: flex;
        flex-wrap: wrap;
        .tag-name{
            text-transform: uppercase;
            font-size: 10px;
            padding: 4px 8px;
            color: #90a4ae;
            border: 1px solid #90a4ae;
            margin-right: 5px;
        }
    }
}